<!DOCTYPE html>
<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Django Girls</a></h1>
        </header>

        {% for post in posts %}
          <article>
              <time>published: {{ post.published_date }}</time>
              <h2><a href="">{{ post.title }}</a></h2>
              <p>{{ post.text|linebreaksbr }}</p>
          </article>
        {% endfor %}
    </body>
</html>
